# HI 5304 – Environment Check

This notebook verifies that your **Codespaces environment** is set up correctly for HI 5304.

Please run this notebook **before starting any assignments**.

If everything works in this notebook, your environment is ready.

## Step 0: Select the Correct Python Kernel

Before running any code:

1. Click the **kernel selector** in the top-right of this notebook
2. Choose:

**Python 3.12.12 – `/usr/local/bin/python`**

⚠️ Do **NOT** use:
- `.venv (Python 3.11)`
- `/usr/bin/python3`
- `/bin/python3`

Using the wrong kernel will cause import errors.

In [3]:
import sys

print("Python executable:")
print(sys.executable)

print("\nPython version:")
print(sys.version)

Python executable:
/usr/local/bin/python

Python version:
3.12.12 (main, Dec  9 2025, 02:06:02) [GCC 12.2.0]

## Step 1: Check Core Python Libraries

This cell verifies that the required Python packages are installed.

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

print("NumPy version:", np.__version__)
print("Pandas version:", pd.__version__)
print("Matplotlib version:", plt.matplotlib.__version__)

NumPy version: 2.4.0
Pandas version: 2.3.3
Matplotlib version: 3.10.8

## Step 2: Test PostgreSQL Connection

This course uses PostgreSQL running in a separate container.

Important:
- The database host is **`db`**, not `localhost`
- This is normal in Docker / Codespaces environments

In [5]:
from sqlalchemy import create_engine

engine = create_engine(
    "postgresql+psycopg2://hi5304_user:hi5304_password@db:5432/hi5304"
)

pd.read_sql("SELECT 1 AS ok;", engine)

   ok
0   1

## ✅ Environment Status

If all cells above ran without errors, your environment is **ready for HI 5304**.

You may now proceed with:
- Excel data preparation
- SQL queries
- Python analytics
- Data visualization

If you encountered an error:
1. Double-check your **Python kernel**
2. Re-run the notebook
3. Ask for help early — environment issues are common and fixable