In [1]:
import pandas as pd

# Load the CSV file
patients = pd.read_csv("../data/patients.csv")

# Preview the data
patients.head()

,patient_id,first_name,last_name,date_of_birth,sex,race,ethnicity,zip_code
0,1001,John,Doe,4/12/1968,M,White,Non-Hispanic,75201
1,1002,Maria,Lopez,9/30/1975,F,Hispanic,Hispanic,75204
2,1003,James,Smith,1/18/1982,M,Black,Non-Hispanic,75080
3,1004,Linda,Chen,6/5/1990,F,Asian,Non-Hispanic,75024
4,1005,Robert,Johnson,11/22/1959,M,White,Non-Hispanic,75230

In [2]:
# Shape of the dataset
patients.shape

(5, 8)

In [3]:
# Column names
patients.columns

Index(['patient_id', 'first_name', 'last_name', 'date_of_birth', 'sex', 'race',
       'ethnicity', 'zip_code'],
      dtype='object')

In [4]:
# Basic info
patients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   patient_id     5 non-null      int64
 1   first_name     5 non-null      object
 2   last_name      5 non-null      object
 3   date_of_birth  5 non-null      object
 4   sex            5 non-null      object
 5   race           5 non-null      object
 6   ethnicity      5 non-null      object
 7   zip_code       5 non-null      int64
dtypes: int64(2), object(6)
memory usage: 452.0+ bytes

In [5]:
from pathlib import Path
import pandas as pd

DATA_DIR = Path("..") / "data"
patients = pd.read_csv(DATA_DIR / "patients.csv")

patients.head()

,patient_id,first_name,last_name,date_of_birth,sex,race,ethnicity,zip_code
0,1001,John,Doe,4/12/1968,M,White,Non-Hispanic,75201
1,1002,Maria,Lopez,9/30/1975,F,Hispanic,Hispanic,75204
2,1003,James,Smith,1/18/1982,M,Black,Non-Hispanic,75080
3,1004,Linda,Chen,6/5/1990,F,Asian,Non-Hispanic,75024
4,1005,Robert,Johnson,11/22/1959,M,White,Non-Hispanic,75230