In [2]:
"""
Lesson 2: Variables and Data Types
Learning Goals
By the end of this lesson, you’ll be able to:
Create and name variables correctly.
Understand Python’s core data types.
Perform operations with numbers and strings.
Convert between types safely.

"""

'\nLesson 2: Variables and Data Types\nLearning Goals\nBy the end of this lesson, you’ll be able to:\nCreate and name variables correctly.\nUnderstand Python’s core data types.\nPerform operations with numbers and strings.\nConvert between types safely.\n\n'

In [3]:
"""
What is a Variable?

A variable is like a labeled box in memory that stores a value.
"""

age = 35
name = "Alex"
height = 1.75

In [4]:
"""
Think of this as:
age → box labeled “age” contains the number 35
name → contains the string "Alex"
height → contains the floating-point number 1.75

Variable Naming Rules

Allowed:

Letters, numbers, underscores (_)

Must start with a letter or underscore

Not allowed:

Starting with a number (1name = "Alex")

Using spaces or special symbols (my name = "Alex")

"""

'\nThink of this as:\nage → box labeled “age” contains the number 35\nname → contains the string "Alex"\nheight → contains the floating-point number 1.75\n\nVariable Naming Rules\n\nAllowed:\n\nLetters, numbers, underscores (_)\n\nMust start with a letter or underscore\n\nNot allowed:\n\nStarting with a number (1name = "Alex")\n\nUsing spaces or special symbols (my name = "Alex")\n\n'

In [16]:
# Examples of good names:

first_name = "Alex"
age_in_years = 35
total_score = 99.5
print(first_name)

Alex

In [6]:
"""
| Type    | Example           | Description     |
| ------- | ----------------- | --------------- |
| `int`   | `42`              | Whole numbers   |
| `float` | `3.14`            | Decimal numbers |
| `str`   | `"Hello"`         | Text data       |
| `bool`  | `True` or `False` | Logical values  |

"""

'\n| Type    | Example           | Description     |\n| ------- | ----------------- | --------------- |\n| `int`   | `42`              | Whole numbers   |\n| `float` | `3.14`            | Decimal numbers |\n| `str`   | `"Hello"`         | Text data       |\n| `bool`  | `True` or `False` | Logical values  |\n\n'

In [7]:
# You can check any variable’s type with:

type(name)

str

In [8]:
x = 42
print(type(x))  # <class 'int'>

<class 'int'>

In [9]:
"""
Working with Numbers

Python can do math easily:
"""

a = 10
b = 3

print(a + b)  # addition
print(a - b)  # subtraction
print(a * b)  # multiplication
print(a / b)  # division (always float)
print(a // b) # integer division
print(a % b)  # remainder
print(a ** b) # exponentiation

13
7
30
3.3333333333333335
3
1
1000

In [10]:
"""
Working with Strings

Strings are text inside quotes ' ' or " ".
"""

greeting = "Hello"
name = "Alex"

message = greeting + " " + name
print(message)  # Hello Alex

Hello Alex

In [11]:
# You can also use f-strings for cleaner formatting:

print(f"{greeting}, {name}! How are you?")

Hello, Alex! How are you?

In [12]:
# String Operations

word = "Python"
print(word.upper())     # PYTHON
print(word.lower())     # python
print(word.startswith("Py"))  # True
print(len(word))        # 6

PYTHON
python
True
6

In [13]:
"""
Type Conversion (Casting)

Python allows converting between compatible types.
"""

x = "10"
y = int(x)     # convert string to integer
z = float(y)   # convert integer to float
print(z)       # 10.0

10.0

In [14]:
# User information
name = "Taylor"
age = 29
height = 1.75

# Calculate age next year
next_year_age = age + 1

# Output message
print(f"{name} is {age} years old and will be {next_year_age} next year.")
print(f"{name} is {height} meters tall.")

Taylor is 29 years old and will be 30 next year.
Taylor is 1.75 meters tall.

In [15]:
"""
| Concept           | Example                     |
| ----------------- | --------------------------- |
| Create a variable | `x = 5`                     |
| Check type        | `type(x)`                   |
| Basic math        | `+ - * / // % **`           |
| String formatting | `f"Hello {name}"`           |
| Convert types     | `int()`, `float()`, `str()` |

"""

'\n| Concept           | Example                     |\n| ----------------- | --------------------------- |\n| Create a variable | `x = 5`                     |\n| Check type        | `type(x)`                   |\n| Basic math        | `+ - * / // % **`           |\n| String formatting | `f"Hello {name}"`           |\n| Convert types     | `int()`, `float()`, `str()` |\n\n'